{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        {% if userpage and user.username != title %}
            <button class="btn btn-outline-primary btn-block">
                {% if user_follows %}
                    Unfollow
                {% else %}
                    Follow
                {% endif %}
            </button>
        {% endif %}
    {% endif %}
    {% with urlparam=title %}
        <h1 class="my-2 center">{{ title }}</h1>
        {% if not userpage %}
            <div class="row">
                <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">New Post</h3>
                        </div>
                        {% if user.is_authenticated %}
                            <form method='POST' action="{% url 'newpost' %}">
                                {% csrf_token %}
                                <div class="card-body">
                                    <textarea class="form-control" rows=4 required name='content'></textarea>
                                </div>
                                <button class="btn btn-outline-primary my-2 btn-block col-xs-10 offset-xs-1 col-md-8 offset-md-2">Post</button>
                            </form>
                        {% else %}
                            <div class="card-body">
                                <textarea class="form-control disabled" rows=4 disabled></textarea>
                            </div>
                            <button class="btn btn-outline-primary my-2 btn-block col-xs-10 offset-xs-1 col-md-8 offset-md-2 disabled" disabled>Post</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <h5 class="text-muted center">Followers: {{ followers }}</h5>
            <h5 class="text-muted center">Following: {{ following }}</h5>
        {% endif %}
        {% if not empty %}
            <ul class="pagination justify-content-center my-3">
                {% if firstpage %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            <span>&laquo</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        {% if urlparam == 'All Posts' %}
                            <a class="page-link" href="{% url 'index' %}?pagenum={{ pagenum|add:-1 }}">
                                <span>&laquo</span>
                            </a>
                        {% else %}
                            <a class="page-link" href="{% url 'viewuser' urlparam %}?pagenum={{ pagenum|add:-1 }}">
                                <span>&laquo</span>
                            </a>
                        {% endif %}
                    </li>
                    
                {% endif %}
                {% for num in pages %}
                    {% if num == pagenum %}
                        <li class="page-item active">
                    {% else %}
                        <li class="page-item">
                    {% endif %}

                    {% if urlparam == 'All Posts' %}
                        <a class="page-link" href="{% url 'index' %}?pagenum={{ num }}">{{ num }}</a>
                    {% else %}
                        <a class="page-link" href="{% url 'viewuser' urlparam %}?pagenum={{ num }}">{{ num }}</a>
                    {% endif %}
                        </li>

                {% endfor %}
                {% if lastpage %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            <span>&raquo</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        {% if urlparam == 'All Posts' %}
                            <a class="page-link" href="{% url 'index' %}?pagenum={{ pagenum|add:1 }}">
                                <span>&raquo</span>
                            </a>
                        {% else %}
                            <a class="page-link" href="{% url 'viewuser' urlparam %}?pagenum={{ pagenum|add:1 }}">
                                <span>&raquo</span>
                            </a>
                        {% endif %}
                    </li>
                {% endif %}
            </ul>
            {% for item in items %}
                <div class="row">
                    <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3 my-4">
                        <div class="card">
                            <div class="card-header">
                                <button class="btn btn-sm btn-outline-primary" style="float: right;">Edit</button>
                                {% with username=item.posting_user.username %}
                                    <a href="{% url 'viewuser' username %}"><h4 class="card-title">{{ username }}</h4></a>
                                {% endwith %}
                                
                            </div>
                            <div class="card-body">
                                <div class="my-2">{{ item.content }}</div>
                                <i class="fa fa-heart likebutton mx-1"></i>
                                <span class="likeamount">{{ item.likes.count }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
{% endblock %}